[submodule "modules/bookstore"]
	path = modules/bookstore
	url = https://github.com/hewenttojrod/bookstore.git
[submodule "modules/module_template"]
	path = modules/module_template
	url = https://github.com/hewenttojrod/module_template.git
[submodule "modules/energy_hub"]
	path = modules/energy_hub
	url = https://github.com/hewenttojrod/energy_hub.git
